.footer{
    background-color: #7986cb;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 300;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footerIconGroup{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.footerIcon{
  font-size: xx-large !important;
  margin-left: 10px;
  color: #fff;
}