.wrapperClassName {
  padding: 1rem;
  border: 1px solid #ccc;
}
.editorClassName {
  background-color:lightgray;
  padding: 1rem;
  border: 1px solid #ccc;
}
.toolbarClassName {
  border: 1px solid #ccc;
}

.addPost{
 padding-bottom: 100px;
 
}